public/inventory/initrd filter=lfs diff=lfs merge=lfs -text
public/**/*.initrd filter=lfs diff=lfs merge=lfs -text
public/**/*.img filter=lfs diff=lfs merge=lfs -text
public/**/*.iso filter=lfs diff=lfs merge=lfs -text
public/ubuntu/22.04/initrd filter=lfs diff=lfs merge=lfs -text
